<div id="main">
 <div class="container">
  <div class="left">
   <h1 id="title">Angular 18 base</h1>
   <div class="lesson">
    <h2 class="title">Lesson 1. Angular Architecture</h2>
    <ul class="lesson-content">
     <li>Components.</li>
     <li>Templates with Data binding and Directives.</li>
     <li>Modules.</li>
     <li>Services and dependency injection.</li>
    </ul>
   </div>
   <div class="lesson">
    <h2 class="title">Lesson 2. Component</h2>
    <ul class="lesson-content">
     <li>Create Home component</li>
     <ul class="sub">
      <li>ng g c components/home --skip-tests</li>
      <li>import HomeComponent to AppComponent</li>
     </ul>
    </ul>
   </div>
   <div class="lesson">
    <h2 class="title">Lesson 3: Create the application’s HousingLocation component</h2>
    <ul class="lesson-content">
     <li>Create HousingLocation component</li>
     <ul class="sub">
      <li>ng g c components/housingLocation --skip-tests</li>
      <li>import HomeComponent to HomeComponent</li>
     </ul>
    </ul>
   </div>
   <div class="lesson">
    <h2 class="title">Lesson 4: Creating an interface</h2>
    <ul class="lesson-content">
     <li>Create housinglocation interface</li>
     <ul class="sub">
      <li>ng g interface interfaces/housinglocation</li>
      <li>import HousingLocation interface to HomeComponent</li>
      <li>Create housingLocation : HousingLocation</li>
     </ul>
    </ul>
   </div>
  </div>
  <div class="right">
   <header class="brand-name">
    <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
   </header>
   <app-home></app-home>
  </div>
 </div>
</div>
